body{
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
}

/** nav bar elements **/
.nav-container{
  /*background: #00394d;
  background: -webkit-linear-gradient(left top, #00394d, #004d4d);
  background: -o-linear-gradient(bottom right, #00394d, #004d4d);
  background: -moz-linear-gradient(bottom right, #00394d, #004d4d);
  background: linear-gradient(to bottom right, #00394d, #004d4d);*/
  background-image: url('../site_images/nav_back.png');
  display: flex;
  width: 100%;
  z-index: 1;
  height: 62px;
  font-family: optima, sans serif;
}

#logo{
  display: flex;
  justify-content: center;
  flex-grow: 0.5;
  flex-shrink: 0;
  flex-basis: 2%;
  background-image: url('../site_images/logo.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-container > ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-grow: 6;
}

.nav-container > ul > li {
  flex: 0 1 auto;
  margin: 0;
  padding: 0;
  position: relative;
}

.nav-container > ul > li:hover {
  /*background: #0077b3;*/
  background-color: rgba(0,0,0,.20);
}

.nav-container > ul > li a + div {
  background: #00394d;
  background: -webkit-linear-gradient(left top, #00394d, #004d4d);
  background: -o-linear-gradient(bottom right, #00394d, #004d4d);
  background: -moz-linear-gradient(bottom right, #00394d, #004d4d);
  background: linear-gradient(to bottom right, #00394d, #004d4d);
  border-radius: 0 0 2px 2px;
  box-shadow: 0 3px 1px rgba(0,0,0,.05);
  display: none;
  font-size: 18px;
  position: absolute;
  width: 195px;
  cursor: pointer;
}

.nav-container > ul > li:hover a + div {
  display: block;
}

.nav-container > ul > li a + div > ul {
  list-style-type: none;
}

.nav-container > ul > li a + div > ul > li {
  margin: 0 0 0 -40px;
  padding: 0;
}

.nav-container > ul > li a + div > ul > li > a {
  color: rgba(255,255,255,.9);
  display: block;
  font-size: 12px
  letter-spacing: 1.5px;
  padding: 4px 24px;
  text-decoration: none;
}

.nav-container > ul > li a + div > ul > li:hover > a {
  background-color: rgba(0,0,0,.20);
}

.nav-container > ul > li > a {
  align-items: flex-start;
  color: white;
  display: flex;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 1px;
  max-width: 128px;
  padding: 16px 24px;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0,0,0,.1);
}

#login{
  display: flex;
  justify-content: center;
  color: white;
  height: auto;
  flex-grow: 0.1;
  border: 1px solid transparent;
  margin: 1px;
}

#login:hover{
  border: 1px solid white;
}

#login > input{
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: optima, sans serif;
  font-size: 14px;
  color: white;
  outline: none;
}

#hello{
  display: flex;
  width: 10%;
  align-items: center;
  justify-content: center;
  color: white;
}

#register{
  display: flex;
  justify-content: center;
  color: white;
  height: auto;
  flex-grow: 0.1;
  border: 1px solid transparent;
  margin: 1px;
}

#register:hover{
  border: 1px solid white;
}

#register > input{
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: optima, sans serif;
  font-size: 14px;
  color: white;
  outline: none;
}
/** end nav bar elements **/


/** table adjustments **/
table{
  width: 100%;
  border-collapse: collapse;
}

#table-heading{
  height: 50px;
}

#sb-image{
  width: 25%;
  text-align: center;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

#sb-title{
  width: 75%;
  text-align: left;
  padding: 0 0 0 10%;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

tr{
  height: 150px;
  width: 100%;
  margin: 0 0 20px 0;
  /*border-bottom: 2px solid black;*/
}

.image-column{
  width: 25%;
  border-bottom: 2px solid black;
}

.sb-form{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 0 0 2px;
}

.sb-image-btn{
  height: 140px;
  width: 220px;
  border: 1px solid black;
  background-image:url('../site_images/placeholder.png');
  background-position: center;
  background-size: cover;
}

.sb-image-btn:hover{
  cursor: pointer;
}

.title-column{
  width: 75%;
  padding: 0 0 0 10%;
  border-bottom: 2px solid black;
}
/** end table adjustments **/


/** screen size adjustments **/
@media screen and (min-width: 1000px){
  #logo{
    display: flex;
    justify-content: center;
    flex-grow: 0.5;
    flex-shrink: 0;
    flex-basis: 2%;
    background-image: url('../site_images/trees.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
/** end screen adjustments **/

/** sound overlays **/
#sound-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2% 0 0 0;
}

.button-wrapper{
  display: flex;
  justify-content: center;
  /*position: relative;*/
  width: 300px;
  height: 180px;
  opacity: 1;
  margin: 0 2px 4px 2px;
  border: 1px solid black;
}

.image-sound{
  max-width: 100%;
  max-height: 100%;
}

.button-overlay{
  position: absolute;
  background-image: url("../site_images/playCircle.png");
  background-repeat: no-repeat;
  background-size: 80px auto;
  background-position: center;
  width: 300px;
  height: 180px;
  margin: 0;
  opacity: 0;
  transition: opacity 0.18s ease-in-out;
  -moz-transition: opacity 0.18s ease-in-out;
  -webkit-transition: opacity 0.18s ease-in-out;
}

.button-wrapper:hover .button-overlay{
  opacity: 0.6;
  transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -webkit-transition: opacity 0.1s ease-in-out;
}
/** end sound overlays **/


/** login page styling **/
#login-body{
  margin: 0;
  padding: 0;
  font-family: 'Lora', serif;
  background-color: #538cc6;
  /*background-image: url('../site_images/dark.jpg');*/
}

#login-container{
  margin: 10% 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login-form{
  height: 260px;
  width: 400px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login-form div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 28%;
  background-color: #f2f2f2;
}

#login-form hr{
  width: 99.5%;
  margin: -2px 0 0 0;
}

#login-form label input{
  height: 40px;
  width: 300px;
  font-size: 16px;
  font-family: 'Lora', serif;
}

#email{
  position: relative;
  margin: 28px 0 20px 0;
}

#logBtn{
  margin: 20px 0 0 0;
  width: 100px;
  font-size: 14px;
  font-family: 'Lora', serif;
  background-color: #f2f2f2;
  border-radius: 4px;
  cursor: pointer;
}

#logBtn:focus{
  outline: none;
}

#reg-p{
  font-size: 14px;
}

#reg-form{
  height: 50px;
  width: 400px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#regBtn{
  margin: 11px 0 0 0;
  padding: 0;
  width: 80px;
  height: 22px;
  font-size: 14px;
  color: blue;
  text-decoration: underline;
  font-family: 'Lora', serif;
  background-color: transparent;
  border: 1px solid transparent;
  /*border-radius: 4px;*/
  cursor: pointer;
}

#regBtn:focus{
  outline: none;
}

#err-msg{
  width: 400px;
  margin: 0;
  text-align: center;
  background-color: #ffffff;
  color: red;
  font-size: 14px;
}
/** end login page styling **/
